<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link th:src="@{img/logoLuren.png}">
    <link rel="stylesheet" href="app.component.css">
    
    <title>Luren</title>
</head>

<body>

    <div class="container">
        <!-- Sidebar Section -->
        <aside>
            <div class="toggle">
                <div class="logo">
                    <img th:src="@{img/logoLuren.png}">
                    <h2>Lu<span class="danger">ren</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">
                        close
                    </span>
                </div>
            </div>

            <div class="sidebar">
                <a href="PgProducto">
                    <span class="material-icons-sharp">
                        dashboard
                    </span>
                    <h3>Mantenimiento Producto</h3>
                </a>
                <a href="PgCliente">
                    <span class="material-icons-sharp">
                        person_outline
                    </span>
                    <h3>Mantenimiento Cliente</h3>
                </a>
                <a href="PgServicio" class="active">
                    <span class="material-icons-sharp">
                        receipt_long
                    </span>
                    <h3>Mantenimiento Servicio</h3>
                </a>
                <a href="PgUsuario">
                    <span class="material-icons-sharp">
                        person_outline
                    </span>
                    <h3>Mantenimiento Usuario</h3>
                </a>

                <a href="Compra">
                    <span class="material-icons-sharp">
                        insights
                    </span>
                    <h3>Adquirir Servicio</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">
                        mail_outline
                    </span>
                    <h3>Reporte Productos</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">
                        inventory
                    </span>
                    <h3>Reporte Ventas</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">
                        settings
                    </span>
                    <h3>Settings</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">
                        add
                    </span>
                    <h3>New Login</h3>
                </a>
                <a href="Login">
                    <span class="material-icons-sharp">
                        logout
                    </span>
                    <h3>Cerrar Sesion</h3>
                </a>
            </div>
        </aside>
        
        <main>
            <a href="Inicio"><h1 style="text-align: center;">Automotriz <span class="danger">Luren</span></h1></a>
            <router-outlet></router-outlet>
        </main>
        
        <div class="right-section">
            <div class="nav">
                <button id="menu-btn">
                    <span class="material-icons-sharp">
                        menu
                    </span>
                </button>
                <div class="dark-mode">
                    <span class="material-icons-sharp active">
                        light_mode
                    </span>
                    <span class="material-icons-sharp">
                        dark_mode
                    </span>
                </div>

                <div class="profile">
                    <div class="info">
                        <p>Hey, <b>USER</b></p>
                        <small class="text-muted">Admin</small>
                    </div>
                    <div class="profile-photo">
                        <img src="images/profile-1.jpg">
                    </div>
                </div>

            </div>
            <!-- End of Nav -->
        </div>

    </div>

</body>

</html>






